 #navbar{

    display: flex;

    justify-content: space-between;

    background-color: rgb(118, 118, 171);
  font-size: 40px;
  padding: 10px;


 }

 a{
     text-decoration: none;
     background-color: white;
 }